[submodule "zsh_custom/plugins/zsh-nvm"]
	path = zsh_custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "zsh_custom/plugins/zsh-syntax-highlighting"]
	path = zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "i3/scripts/networkmanager-dmenu"]
	path = i3/scripts/networkmanager-dmenu
	url = git@github.com:firecat53/networkmanager-dmenu.git
