[submodule "zsh/plugins/zsh-nvm"]
	path = zsh/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "ansible/roles/kubectl"]
	path = ansible/roles/kubectl
	url = https://github.com/andrewrothstein/ansible-kubectl
[submodule "ansible/roles/minikube"]
	path = ansible/roles/minikube
	url = https://github.com/amine7777/ansible-role-minikube.git
