"*":
  core:
    disabledPackages: [
      "metrics"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Cousine for Powerline"
    fontSize: 12
    invisibles:
      cr: "¤"
      eol: "¬"
      space: "·"
      tab: "⇥"
    preferredLineLength: 80
    showIdentGuide: true
    showInvisibles: true
    tabLength: 4
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    tabLength: 2
